<div class="container">
	<form>
		<div class="form-group">
			<datepicker name="startDate" [(ngModel)]= "startDate" 
			[showWeeks] = "false"
			[minDate]="minDate">
			</datepicker>
		</div>

		<div class="form-group">
			<timepicker name="startTime" [(ngModel)]= "startTime" [minuteStep]="15">
			</timepicker>
		</div>

		<div class="form-group">
			<rating name="postRating" [(ngModel)]="postRating" [max]="10"
			(onHover)="hover($event)"
			(onLeave)="leave($event)"
			>
			</rating>
		</div>
	</form>
	<h4>Date: </h4>{{startDate}} <br/>
	<h4>Time: </h4>{{startTime}} <br/>
	<h4>{{postRating}}</h4>
</div>